.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 22px;
  letter-spacing: 0%;
  text-underline-offset: 4px;
  list-style-type: none;
}

.header__links-list-item_bullit {
  list-style-type: circle;
}

.header__logo {
  width: 148px;
  height: 105px;
  padding: 0 5px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 5px;
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/ 0.6);
}

.cover__title {
  padding: 165px 50px 0;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;

}
.aligned-text {
  display: block;
}

.aligned-text_center {
  margin: 20px 0 20px 34px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no_space {
  letter-spacing: 0;
}

.cover__description-text {
  color: white;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: Regular;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 19px;
}

button {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  color: white;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  font-style: Medium;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 106px 50px 50px;
}

.lots {
  min-height: 723px;
  margin: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 47px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
ul {    
  margin: 0;           
  padding: 0;
  list-style: none;          
}

article, .card-link {
  height: 100%;
  color: white;
  text-decoration: none;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}


.card {
  width: 334px;
  height: 596px;
}

.card__title {
  margin: 48px 40px 0;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-transform: uppercase;;
}

.card__text {
  margin: 0 40px 48px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 120%;
  letter-spacing: 0%;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 5px;
}

.about {
  height: 595px;
  margin: 0 24px 180px;
}

.about__columns {
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 0 0 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__article {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 693px;
  margin-top: 136px;
  margin-left: 25px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 47px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
  padding-left: 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: flex-start;
  gap: 5px;
  width: 265px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 5px;
}

.footer__menu-list-item {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
